body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: cadetblue !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  color: #1c2f2f;
  text-decoration: none;
  font-size: 3rem;
  margin-right: 4rem;
  margin-left: 1rem;
}

.home:hover{
  color: darkslategray;
}

nav{
  background:orangered;
  font-size: 2rem;
  font-weight: bold;
  
}

.nav-link{
  color: darkslategray !important;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.dropdown-menu{
  background: #ff6a33 !important;
}

.dropdown-item{
  color : #1c2f2f !important;
}

.types{
  background: dodgerblue;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 4rem;
  padding: 1rem;
}

.types p{
  font-size: 1.5rem;
}

li{
  font-size: 1.5rem;
}